# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environnements virtuels
.env
.venv
env/
venv/

# Fichiers générés par le programme
*.png
*.log
Rapport_Client.pdf

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.iml

# Jupyter
.ipynb_checkpoints/
